:root{
    --mainBlue:#2a2a72;
    --lightBlue:#009ffd;
    --mainWhite:#FFFFFF;
    --mainDark:#232528;
    --mainYellow:#ffa400;
}

body{
    font-family: "Oswald", sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
    
}